/node_modules
/build
.npm-debug.log
.vscode
.env
*.DS_Store
yarn.lock
package-lock.json
coverage
coverage.json
typechain
typechain-types
privateKey*
/build
addresses.json

#Hardhat files
cache
artifacts

*.zip
addresses_GLD.json
add-collateral.json
externalAddresses.json