node_modules
build
.npm-debug.log
.vscode
.env
*.DS_Store

addresses_GLD.json
addresses.json
externalAddresses.json
add-collateral.json
privateKey*

# TypeChain files
/typechain
/typechain-types

# Hardhat files
/cache
/artifacts

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
/deployments
