/node_modules
/build
.npm-debug.log
.vscode
.env
*.DS_Store
externalAddresses.json
addresses.json
yarn.lock
package-lock.json
coverage
coverage.json
typechain
typechain-types
privateKey*
/build
addresses.json

addresses.json
#Hardhat files
cache
artifacts

*.zip
